$font-family-sans-serif: 'Poppins', Apple Color Emoji, Segoe UI, Helvetica, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
$font-family-serif: 'DM Serif Display', Apple Color Emoji, serif;

$color-background: #F6F5F1;
$color-background-secondary: #FCFBF7;
$color-text-primary: #202020;
$color-text-secondary: #4E4E4E;
$color-accent: #2E6934;
$color-accent-darker: #1E4A1F;
$color-border: #E6E3E1;
$color-header-background: rgba(219, 216, 203, 0.8);
$color-header-border: #CECABB;

$box-shadow-primary: 2px 2px 15px 0 rgba(40, 10, 0, 0.05);